<h4>Agregar personaje</h4>
<form class="form-group row" (ngSubmit)="emitCharacter()">
  <input
    type="text"
    class="form-control mb-2"
    id="name"
    name="name"
    placeholder="Nombre"
    aria-label="Nombre"
    aria-describedby="name"
    [(ngModel)]="character.name"
  />
  <input
    type="text"
    class="form-control"
    id="power"
    name="power"
    placeholder="Poder"
    [(ngModel)]="character.power"
  />
  <button type="submit" class="btn btn-primary mt-2">Agregar</button>
<pre>
  {{ character | json }}
</pre>
</form>
